body {
  background-color: red;
  margin: 0;
  padding: 0;
}

nav{
  display: block;
  width: 99vw;
  height: 20vh;
  background-color: black;
  padding-left: 5%;
  color: white;
}
main {
  display: block;
  width: 99vw;
  height: 180vh;
  background-color: blue;
  padding: 1vw;
}

#front{
  width: 100vw;
  position: absolute;
  direction: none;
  height: 100vh;
  padding: 0;
}
#vidiv {
  display: inline-block;
  width: 86%;
  height: 100%;
  background-color: yellow;
  float: left;
  padding: 4vw;
  padding-left: 6vw;
}

#side {
  display: inline-block;
  width: 13%;
  height: 100%;
  background-color: white;
  float: right;
}

.videocase {
  display: inline-block;
  width: 32%;
  height: 32%;
  background-color: green;
  border: 1px solid black;
  margin-right: 1%;
  font-size: 0.8em;
  overflow: hidden;
}

.videoplayer{
  width: 100%;
  height: 270px;
  border: none;
}

.description{
  width: 100%;
  background-color: orange;
  padding: 5%;
}

#navsearch{
  width: 50%;
  display: inline-block;
  height: 50%;
  font-size: 2em;
}

#navbutton{
  width: 40%;
  display: inline-block;
  height: 50%;
  border: none;
  padding: none;
  margin-left: none;
  font-size: 2em;
}

#backgroundimg{
  position: absolute;
}

#effect{
  position: absolute;
  opacity: 0.5;
}

#searchbar{
  top: 70%;
  height: 30%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#game{
  display: inline-block;
  width: 40%;
  height: 40%;
  margin-left: 8%;
  margin-right: 2%;
  font-size: 2em;
}

#submit{
  background-color: white;
  border: none;
  display: inline-block;
  width: 40%;
  height: 40%;
  font-size: 2em;
}

.gamebox img{
  width: 10vw;
}

.gamebox{
  display: inline-block;
  width: 10vw;
  height: 28vh;
  background-color: white;
  text-align: center;
  margin: 0;
  margin-right: 2vw;
}
