@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face { font-family: '04B03';
src:  url('04B03.TTF')}

body {
  margin: 0;
  padding: 0;
  font-family: '8BITWONDERNominal'
}

#nav{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 1vh;
  display: block;
  width: 86%;
  height: 5.5%;
  background-color: black;
  padding-left: 2%;
  color: white;
  margin-top: 8vh;
}

nav{
  display: block;
  clear: both;
  width: 100%;
  height: 10vh;
  background-image: url(tasky_pattern.png);
  background-repeat: repeat;
  padding-left: 5%;
  padding-right: 2%;
  color: white;
  padding-top: 2vh;
  box-shadow: 5px 5px 5px black;
}

#navsearch{
  display: inline-block;
  width: 15%;
  height: 6vh;
  border: none;
  font-size: 1em;
  float: right;
}

#navbutton{
  display: inline-block;
  width: 15%;
  height: 6vh;
  border: none;
  padding: none;
  margin-left: none;
  font-size: 1em;
  float: right;
}

main {
  display: block;
  width: 100%;
  height: 160vh;
  padding: 1vw;
  padding-right: 0;
}

#front{
  width: 99.9vw;
  position: absolute;
  direction: none;
  height: 99.9vh;
  padding: 0;
}
#vidiv {
  display: inline-block;
  width: 86%;
  height: 95%;
  background-color: rgba(0,0,0,0.8);
  float: left;
  padding: 4vw;
  padding-left: 6vw;
  border-radius: 15px;
  margin-top: 8vh;
}

#side {
  float: right;
  display: inline-block;
  width: 14%;
  height: 55%;
  font-family: '04B03';
}

.videocase {
  display: inline-block;
  width: 32%;
  height: 32%;
  margin-right: 1%;
  font-size: 0.8em;
  overflow: hidden;
}

.videoplayer{
  width: 100%;
  height: 270px;
  border: none;
}

.description{
  width: 100%;
  position: relative;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 3%;
  height: 7vh;
  line-height: -1vh;
  font-family: 'Inconsolata';
}

.close{
  width: 2vw;
  height: 4vh;
  float: right;
  text-align: center;
  cursor: pointer;
  color: white;
}

#backgroundimg{
  position: absolute;
}

#effect{
  position: absolute;
  opacity: 0.5;
}

#searchbar{
  top: 65%;
  height: 30%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#game{
  display: inline-block;
  width: 40vw;
  height:8vh;
  margin-left: 8%;
  margin-right: 2%;
  font-size: 1.5em;
  font-family: '8BITWONDERNominal';
  opacity: 0.7;
  border: none;
  color: #404040;
  background-color: white;
}

#submit{
  opacity: 0.7;
  background-color: black;
  color: white;
  border: none;
  display: inline-block;
  width: 40vw;
  height:8vh;
  font-size: 1.5em;
  font-family: '8BITWONDERNominal'
}

.gameimgdiv{
  width: 10vw;
  height: 22vh;
  background-color: black;
  overflow: hidden;
  margin: auto;
  margin-bottom: 10px;
}

.gameimgdiv img{
  width: 140%;
}
.gameimgdiv:hover{
  cursor: pointer;
}
.gameimg:hover{
  cursor: pointer;
}

.gamebox{
  width: 12vw;
  float: left;
  height: 35vh;
  background-color: white;
  text-align: center;
  margin: 0;
  margin-right: 2vw;
  line-height: 1;
  margin-bottom: 2vh;
  font-family: 'Inconsolata';
}

.gameplatforms{
  display: block;
  font-size: 0.6em;
  margin-top: 10px;
}

#credits{
  z-index: 1;
  position: absolute;
  font-size: 0.8em;
  width: 17vw;
  height:3vh;
  bottom: -1.8vh;
  right: 1vw;
  color: #e6e6e6;
  text-align: center;
}

#credits p{
  text-shadow: 1.5px 1.6px black;
  font-family: 'Inconsolata';
}
select{
  font-size: 0.8em;
  width: 14vw;
  height: 100%;
  position: relative;
  display: inline-block;
}

#comm, #lan {
  font-size: 0.6em;
  width: 22vw;
  height: 7vh;
  display: inline-block;
  float: left;
}

#comm p, #lan p{
  margin: 0;
  display: inline-block;
}

#title{
  margin-top: 3vh;
  width: 90%;
  margin: auto;
  height: 8vh;
  background-color: black;
  margin-bottom: 3vh;
}

#sidetitle{
  margin-top: 10vh;
  margin-bottom: 10px;
  width: 60%;
  background-color: black;
  height: 6vh;
  padding: 14px;
  padding-left: 5px;

}
#sidetitle h3{
  font-size: 0.8em;
  color: white;
  font-family: '04B03';
  margin-left: 6.5px;
  font-weight: bold;
  margin-top: -8px;
}

#ranked{
  font-size: 0.9em;
  color: white;
  width: 95%;
  height: 60%;
  margin: auto;
  font-family: '04B03';
}

.lantitle, .showtitle{
  float: left;
  margin-right: 10px;
}
.player{
  position: relative;
  display: block;
  height: 3.5vh;
  position: relative;
  line-height: 1;
}

.playerId{
  line-height: 4;
  padding-left: 10px;
  display: inline-block;
  height: 3vh;
  width: 10vw;
  font-family: '04B03';
  font-size: 0.7em;
  background-color: black;
  padding-top: 4px;
}
.num{
  display: inline-block;
  width: 1.8vw;
  height: 3vh;
  background-color: black;
  color: white;
  text-align: center;
  float: left;
  font-size: 0.5em;
  padding: 6px;
  margin-right: 2px;
}
.arrow-right{
  width: 0;
  height: 0;
  right: -5px;
  top: 20px;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid white;
}
.arrow-left{
  width: 0;
  height: 0;
  top: 15px;
  left: -5px;
  position: absolute;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 5px solid white;
}
.subsupbox{
  width: 14vw;
  height: 7vh;
  display: none;
  clear: both;
  position: absolute;
  left: -14vw;
  top: -2vh;
  background-color: white;
  padding: 6px;
}

.subsup{
  margin: auto;
}

footer{
  width: 100%;
  height: 12vh;
  background-color: black;
  display: block;
}
.description p{
  font-weight: bold;
  width: 50%;
  height: 40%;
  display: inline-block;
  line-height: 1;
}

.description div{
  margin-top: 2vh;
  width: 11vw;
  height: 50%;
  display: inline-block;
  text-align: right;
  float: right;
}

.description button{
  margin-left: 4px;
  width: 2.3vw;
  height: 80%;
  border: 1px solid white;
  display: inline-block;
  font-size: 0.4em;
  font-family: "04B03";
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.ratingcase {
      overflow: hidden;
      display: inline-block;
}
.rating-input {
    position: absolute;
    left: -14px;
    top: -50px;
}
.rating-star {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.rating-star:hover, .rating-star:hover ~ .rating-star, .rating-input:checked ~ .rating-star {
    background-position: 0 0;
}

.commentary, .language{
  display: inline-block;

}
.commentary dt, .language dt{
  margin: 0px;
  padding: 0px;
}

.commentary ul, .language ul{
  margin: 0px;
  padding: 0px;
}

.commentary dd, .language dd{
  position:relative;
  margin: 0;
  padding: 0;
}

.dropdownc {
  background-color: white;
  display: block;
  padding-right: 2vw;
  width: 13vw;
  height: 5vh;
}
.commentary dt a span, .language dt a span{
  cursor: pointer;
  display: block;
  padding: 5px;
}

#commentarylist, #languagelist {
  background-color: white;
  display: none;
  list-style: none;
  padding: 5px 0px;
  position: absolute;
  left: 0px;
  top: 2px;
  width: auto;
  min-width: 13vw;
}
.commentary span.value, .language span.value{
  display: none;
}
#commentarylist li a, #languagelist li a{
  padding: 5px;
  width: 13vw;
  height: 5vh;
  border-bottom: 1px solid black;
  display: block;
}

#popup {
  position: absolute;
  width: 65vw;
  height: 67vh;
  background-color: black;
  z-index: 99;
  left: 20%;
  top: 22%;
  box-shadow: 5px 5px 5px black;
}

#footerinfo{
  margin: auto;
  font-family: 'Inconsolata';
  color: white;
  width: 20%;
  margin-top: 2vh;
}

.expand{
  position: absolute;
  right: 0.2vw;
  top: 0.2vh;
  width: 1.2vw;
  height: 2vh;
  border: none;
  cursor: pointer;
}

.next{
  position: absolute;
  right: 1.7vw;
  top: 0.2vh;
  width: 1.2vw;
  height: 2vh;
  border: none;
  cursor: pointer;
}
#nfound{
  color: white;
  padding: 25vw;
  }
.prev{
  position: absolute;
  right: 3.2vw;
  top: 0.2vh;
  width: 1.2vw;
  height: 2vh;
  border: none;
  cursor: pointer;
}
.theaterplayer{
  width: 100%;
  height: 90%;
  border: none;
}

#load{
  color: white;
  width: 20vw;
  height: 25vh;
}

#loading{
  text-align: center;
  width: 100%;
  height: 100%;
}

#trending{
  left: 8.5%;
  top: 82%;
  height: 4vh;
  position: absolute;
  width: 82%;
  z-index: 2;
  overflow: hidden;
  color: white;
}

.trendinggamediv, .separator, #trendingtext{
  margin-left: 1vw;
  margin-right: 1vw;
  display: inline-block;
  font-size: 0.8em;
  text-shadow: 2px 2px black;
}

.trendinggamediv{
  cursor: pointer;
}

#trendingdiv{
  width: 280%;
  height: 100%;
}

.channelinfo{
  width: 13.8vw;
  height: 7vh;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px;
  background-color: white;
}

.channelinfoyt{
  background-color: white;
}

.videoautor{
  cursor: pointer;
}

#tags, #showtags{
  display: inline-block;
  width: 36vw;
  height: 95%;
  padding-top: 2vh;
  text-align: center;
  font-size: 0.8em;
}

#showtags p {
  cursor: pointer;
}

.tag{
  display: inline-block;
  border-radius: 2px;
  padding: 1px;
  color: black;
  font-family: "04B03";
  font-size: 0.5em;
  width: 4vw;
  margin-left: 1vw;
  margin-bottom: 1vh;
  height: 34%;
  float: left;
  background-color: white;
  cursor: pointer;
}

input[type=checkbox]:before {
  content:"";
  display:inline-block;
  width:10.5px;
  height:10.5px;
  background:white;
  border: 1px solid black;
 }
input[type=checkbox]:checked:before {
  border: none;
  background: #2199E8;
  }​
