@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@font-face { font-family: '04B03';
src:  url('04B03.TTF')}

body {
  margin: 0;
  padding: 0;
  font-family: '8BITWONDERNominal'
}

#nav{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  padding-top: 1vh;
  display: block;
  width: 86%;
  height: 4%;
  background-color: black;
  padding-left: 2%;
  color: white;
}

nav{
  display: block;
  clear: both;
  width: 100%;
  height: 10vh;
  background-image: url(tasky_pattern.png);
  background-repeat: repeat;
  padding-left: 5%;
  padding-right: 2%;
  color: white;
  padding-top: 2vh;
}

#navsearch{
  display: inline-block;
  width: 15%;
  height: 6vh;
  border: none;
  font-size: 1em;
  float: right;
}

#navbutton{
  display: inline-block;
  width: 15%;
  height: 6vh;
  border: none;
  padding: none;
  margin-left: none;
  font-size: 1em;
  float: right;
}

main {
  display: block;
  width: 100%;
  height: 160vh;
  background-color: blue;
  padding: 1vw;
  padding-right: 0;
  background-image: url("back1.png");
}

#front{
  width: 99.9vw;
  position: absolute;
  direction: none;
  height: 99.9vh;
  padding: 0;
}
#vidiv {
  display: inline-block;
  width: 86%;
  height: 95%;
  background-color: rgba(0,0,0,0.8);
  float: left;
  padding: 4vw;
  padding-left: 6vw;
  border-radius: 15px;
}

#side {
  float: right;
  display: inline-block;
  width: 13%;
  height: 55%;
  background-color: rgba(255, 255, 255,0.7);
}

.videocase {
  display: inline-block;
  width: 32%;
  height: 32%;
  margin-right: 1%;
  font-size: 0.8em;
  overflow: hidden;
}

.videoplayer{
  width: 100%;
  height: 270px;
  border: none;
}

.description{
  width: 100%;
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 5%;
  height: 7vh;
  line-height: -1vh;
  font-family: 'Inconsolata';
}

#backgroundimg{
  position: absolute;
}

#effect{
  position: absolute;
  opacity: 0.5;
}

#searchbar{
  top: 70%;
  height: 30%;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#game{
  display: inline-block;
  width: 40vw;
  height:8vh;
  margin-left: 8%;
  margin-right: 2%;
  font-size: 1.5em;
  font-family: '8BITWONDERNominal';
  opacity: 0.7;
  border: none;
  color: #404040;
  background-color: white;
}

#submit{
  opacity: 0.7;
  background-color: black;
  color: white;
  border: none;
  display: inline-block;
  width: 40vw;
  height:8vh;
  font-size: 1.5em;
  font-family: '8BITWONDERNominal'
}

.gameimgdiv{
  width: 10vw;
  height: 22vh;
  background-color: black;
  overflow: hidden;
  margin: auto;
}

.gameimgdiv img{
  width: 140%;
}
.gameimgdiv:hover{
  cursor: pointer;
}
.gameimg:hover{
  cursor: pointer;
}

.gamebox{
  display: inline-block;
  width: 12vw;
  height: 30vh;
  background-color: white;
  text-align: center;
  margin: 0;
  margin-right: 2vw;
  line-height: -0.1vh;
  margin-bottom: 2vh;
  font-family: 'Inconsolata';
}

.gameplatforms{
  display: block;
  font-size: 0.5em;
}

#credits{
  z-index: 1;
  position: absolute;
  font-size: 0.8em;
  width: 17vw;
  height:3vh;
  bottom: 1vh;
  right: 1vw;
  color: #e6e6e6;
  text-align: center;
}

#credits p{
  text-shadow: 1.5px 1.6px black;
  font-family: 'Inconsolata';
}
select{
  font-size: 0.8em;
  width: 14vw;
  height: 100%;
  position: relative;
  display: inline-block;
}

#comm {
  font-size: 0.8em;
  width: 20vw;
  height: 5vh;
  display: inline-block;
  float: left;
}

#comm p{
  display: inline-block;
}

#lan p{
  display: inline-block;
}
#lan{
  font-size: 0.8em;
  margin-right: 5vw;
  float: left;
  width: 22vw;
  height: 5vh;
  display: inline-block;
}

#title{
  margin-top: 3vh;
  width: 90%;
  margin: auto;
  height: 8vh;
  background-color: black;
  margin-bottom: 3vh;
}

#sidetitle{
  margin: auto;
  margin-top: 4vh;
  margin-bottom: 3vh;
  width: 90%;
  background-color: black;
  height: 5vh;
}
#sidetitle h3{
  font-size: 0.8em;
  color: white;
  font-family: '8BITWONDERNominal';
}

#ranked{
  font-size: 0.9em;
  color: white;
  width: 90%;
  height: 60%;
  margin: auto;
  font-family: '8BITWONDERNominal'
}
.player{
  display: block;
  height: 3.5vh;
}

.playerId{
  line-height: 4;
  padding-left: 1vw;
  display: inline-block;
  height: 3vh;
  width: 9vw;
  font-family: 'Inconsolata';
  font-size: 0.7em;
  background-color: black;

}
.num{
  display: inline-block;
  width: 1.8vw;
  height: 3vh;
  background-color: black;
  color: white;
  text-align: center;
  border-right: 2px solid white;
  float: left;
  font-size: 0.5em;
}

footer{
  width: 100%;
  height: 12vh;
  background-color: black;
  display: block;
}
.description p{
  font-weight: bold;
  width: 50%;
  height: 100%;
  display: inline-block;
}

.description div{
  width: 6vw;
  height: 100%;
  display: inline-block;
  float: right;
  text-align: right;
}

.description button{
  margin-left: 1vw;
  width: 2vw;
  height: 80%;
  border: 1px solid white;
  display: inline-block;
  float: right;
  font-size: 0.4em;
  font-family: "04B03";
}

.rating {
    overflow: hidden;
    display: inline-block;
}

.ratingcase {
      overflow: hidden;
      display: inline-block;
}
.rating-input {
    position: absolute;
    left: 0;
    top: -50px;
}
.rating-star {
    display: block;
    float: right;
    width: 16px;
    height: 16px;
    background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0 -16px;
}
.rating-star:hover,
.rating-star:hover ~ .rating-star,
.rating-input:checked ~ .rating-star {
    background-position: 0 0;
}


.commentary dt{
  margin: 0px;
  padding: 0px;
}

.commentary ul{
  margin: 0px;
  padding: 0px;
}

.commentary dd {
  position:relative;
  margin: 0;
  padding: 0;
}

#dropdownc {
  background: #e4dfcb url(arrow.png) no-repeat scroll right center;
  display: block;
  padding-right: 20px;
  border: 1px solid #d4ca9a;
  width: 150px;
}
.commentary dt a span {
  cursor: pointer;
  display: block;
  padding: 5px;
}

#commentarylist {
  background: #e4dfcb none repeat scroll 0 0;
  display: none;
  list-style: none;
  padding: 5px 0px;
  position: absolute;
  left: 0px;
  top: 2px;
  width: auto;
  min-width: 170px;
}
.commentary span.value {
  display: none;
}
#commentarylist li a {
  padding: 5px;
  display: block;
}

.commentary span.value {
  display: none;
}
